<div class="span9 well">
  <h3>Leave a Reply</h3>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <%= recaptcha_tags %>
    <% if @comment and @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field clearfix">
      <%= f.label :author_name, 'Name(*required):' %>
      <div class="input">
        <%= f.text_field :author_name %>
      </div>
    </div>
    <div class="field clearfix">
      <%= f.label :author_email, 'Email(*required):' %>
      <div class="input">
        <%= f.text_field :author_email %>
      </div>
    </div>
    <div class="field clearfix">
      <%= f.label :author_url, 'Website:' %>
      <div class="input">
        <%= f.text_field :author_url %>
      </div>
    </div>
    <div class="field clearfix">
      <%= f.label :content, 'Comment(*required):' %>
      <div class="input">
        <%= f.text_area :content, :rows => 3, :class => "xlarge" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Post', :class => "btn primary" %>
    </div>
  <% end %>
</div>

