<!-- Listing articles -->

<% @articles.each do |article| %>
  <article class="article">
    <header class="article-title">
      <%= link_to article.title, article %>
    </header>
    <p class="article-content">
      <%= raw article.content %>
    </p>
    <footer class="article-meta">
      Created At: <%= article.created_at %>
      Tags: <%= article.tag_list %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', 
                  article, 
                  confirm: 'Are you sure?', 
                  method: :delete %>
    </footer>
  </article>
<% end %>

<%= paginate @articles %>

<%= link_to 'New Article', new_article_path %>
