<p id="notice"><%= notice %></p>


<article class="article">
  <header class="post-title">
    <%= link_to @article.title, @article %>
  </header>
  <p class="article-content">
    <%= @article.content %>
  </p>
  <footer class="article-meta">
    Created At: <%= @article.created_at %>
    Tags: <%= @article.tag_list %>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Destroy', 
                @article, 
                confirm: 'Are you sure?', 
                method: :delete %>
  </footer>
</article>

<% if current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
