<p id="notice"><%= notice %></p>


<article class="article">
  <h3 class="post-title">
    <%= link_to @article.title, @article %>
  </h3>
  <p class="article-content">
    <%= raw @article.content %>
  </p>
  <footer class="article-meta">
    Created At: <%= @article.created_at %>
    Tags: <%= @article.tag_list %>
  <% if current_user %>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Destroy', 
      @article, 
      confirm: 'Are you sure?', 
      method: :delete %>
  <% end %>
  </footer>
</article>

<div class="row">
  <% @article.comments.each do |comment| %>
    <div class="comment span9 well">
      <%= link_to comment.author_name, comment.author_url %>
      <div class="comment-content">
        <%= comment.content.html_safe %>
      </div>
    </div>
  <% end %>
</div>
